*{
    margin: 0;
    padding: 0;
}
html{
    font-family: DengXian, sans-serif ;
}

nav{
    display: flex;
    justify-content: flex-end;
}

/* anchor style */
nav a {
    font-family: "smooch sans", serif;
    font-size: 100%;
    position: relative;
    display: inline-block;
    padding: .4em 1em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: rgba(255, 255, 255, .9);
}
nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    background: linear-gradient(135deg, lightskyblue 3%, #6e8ffb, #878afa,  lightskyblue 97%);
    border: 2px solid slategray;
    border-radius: 11px 6px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
nav a:hover::before {
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .8);*/
    box-shadow: 0.4rem 0.4rem 1.5px rgba(0, 0, 0, .8), -0.3rem -0.3rem 1.5px rgba(200, 200, 200, .8);
}
nav a::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    justify-content: center;
    transition: transform 0.2s ease;
    font-weight: normal;
    font-size: 120%;
    text-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, .7);
    letter-spacing: 0.1rem;
    padding: 0 .2rem;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}


/* body */

body {
    width: 100%;
    transform-style: preserve-3d;
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
}

#pageBG {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../pictures/planet.jpg"),
    linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0) 50%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}
/* the styles for the top right horizontal navigation menu */
#top_back_blur {
    width: 700px;
    height: 120px;
    position: fixed;
    top: 0;
    right: 0;
    filter: blur(5px);
    background: linear-gradient(30deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .6));
}

#nav_top {
    padding: 1.5rem 0 .5rem 0;
    top: 0;
    right: 0;
}

#nav_top ul{
    padding-right: 1.2rem;
    z-index: 10;
}

#nav_top a {
    font-size: 90%;
}


header{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
}

.header_name {
    position: relative;
    font-family: 'Smooch Sans', sans-serif;
    margin-left: 3em;
    top: 55%;
    margin-bottom: 5%;
    color: whitesmoke;
    text-shadow: 0.15rem 0.15rem 7px rgba(0, 0, 0, .8), -0.1rem -0.1rem 10px rgba(205, 205, 205, .6);

    /*text-shadow: 0.4rem 0.4rem 5px rgba(0, 0, 0, .8), -0.3rem -0.3rem 7px rgba(200, 200, 200, .5);*/
    transition: text-shadow 0.5s ease;

}
.header_name #name {
    margin: 0;

    font-size: 950%;
    font-weight: lighter;
    letter-spacing: .5rem;
    /*text-shadow: 0 0 20px rgba(255, 255, 255, .5) ;*/
}
.header_name a{
    color: whitesmoke;
    text-decoration: none;
}
.header_name #intro {
    margin:0;
    font-size: 190%;
    padding-left: .3rem;
    letter-spacing: .2rem;
    /*text-shadow: 0.4rem 0.4rem 3px rgba(0, 0, 0, .8), -0.2rem -0.2rem 4px rgba(200, 200, 200, .5);*/
}

.header_name:hover{
    text-shadow: 0.4rem 0.4rem 4px rgba(0, 0, 0, .9), -0.3rem -0.3rem 7px rgba(200, 200, 200, .7);
}
nav ul li{
    margin-left: .4rem;
}

.header_name {
    grid-row: 1/2;
    grid-column: 1/4;
    //transition: margin-top .5s ease;
}
/*.header_name:hover {*/
/*    margin-top: 35%;*/
/*}*/
/*.header_name:hover + #nav_bottom {*/
/*    margin-top: 20px;*/
/*    display: block;*/
/*}*/

/*.header_name::after{*/
/*    margin-top: 35%;*/
/*    display: block;*/
/*}*/
#nav_bottom {
    grid-row: 1/2;
    grid-column: 1/4;
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 100px;
    transition:  margin-top 1s ease;
}
/*#nav_bottom > ul ::after {*/
/*    display: block;*/
/*}*/

#nav_bottom ul {
    grid-row: 1/2;
    grid-column: 1/4;
    list-style: none;
    padding: .5em 1em;
    text-align: left;
    margin-left: 2em;
}

#nav_bottom a {
    font-size: 110%;

}

#nav_bottom > ul::after {
    content: "";
    display: block;
}
ul li {
    display: inline-block;
}

/* main style */
main {
    grid-row: 2/3;
    grid-column: 1/2;
    /*Sidebar option*/
    /*display: grid;*/
    /*grid-template: 1fr / 20% auto 20%;*/

    background-image: linear-gradient(to bottom, rgba(227, 250, 195, .2), white 30%, rgba(227, 250, 195, .15) 50%, white 70%, white 85%, rgba(227, 250, 195, .1));
    min-width: 400px;
    min-height: 200px;
}
/*.leftSide{*/
/*    grid-row: 1/2;*/
/*    grid-column: 1/2;*/
/*    display: grid;*/
/*    grid-template: repeat(3, auto) / auto;*/
/*}*/

/*.leftSide #flower{*/
/*    grid-row: 2/3;*/
/*    grid-column: 1/2;*/
/*    width: 100%;*/
/*}*/
/*.rightSide{*/
/*    grid-row: 1/2;*/
/*    grid-column: 3/4;*/
/*    display: grid;*/
/*    grid-template: repeat(3, auto) / auto;*/
/*}*/
/* content styling */
.content {
    grid-row: 1/2;
    grid-column: 2/3;

    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-template-areas:
                        "intro"
                        "skill"
                        "project";

}

.content p, .content blockquote{
    font-size: 1.2rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding: 0 .5rem;
    text-indent: 2rem;
    line-height: 2.5rem;
}
/* introduction part styling */
.introduction    {
    background-image: url("../BGP/web.png");
    background-repeat: repeat-x;
    background-position: left top;
    /*grid-area: intro;*/
    border-left: 2px solid black;
    border-right: 2px solid black;

    display: grid;
    grid-template: repeat(6, auto) / repeat(12, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2.5rem;
    align-items: center;
    align-content: center;

    padding: 1% 4%;
    /*padding: 2% 3%;*/
}
.introduction section{
    padding: 2rem;
    border: 4px double #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

    -webkit-box-shadow: 0 10px 6px -6px #777, 0 0 5px -3px #777;
    -moz-box-shadow: 0 10px 6px -6px #777, 0 0 5px -3px #777;
    box-shadow: 0 10px 6px -6px #777, 0 0 5px -3px #777;
}

.introduction section:first-letter{
    font-size: 300%;
}
/*TODO Add border to each img */
/*.introduction img:before{*/
/*    z-index: +1;*/
/*    position: absolute;*/
/*    content: "";*/
/*    bottom: 15px;*/
/*    left: 10px;*/
/*    width: 50%;*/
/*    top: 80%;*/
/*    !*opacity: 1;*!*/
/*    border: 2px solid black;*/
/*    border-radius: 11px 6px;*/
/*    max-width:300px;*/

/*}*/
#content_intro{
    grid-row: 1/2;
    grid-column: 4/10;

    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: .2rem 0;

    text-align: center;
    letter-spacing: .2rem;
    font-weight: normal;
    color: #505050;
    background: rgba(250, 250, 250, .6);
    border: 3px double #cecece;
    text-shadow: 2px 2px 2px #dddddd;
    box-shadow: 0.4rem 0.4rem 2px rgba(0, 0, 0, .7), -0.3rem -0.3rem 2px rgba(200, 200, 200, .8);
}
.basic{
    grid-row: 2/3;
    grid-column: 2 /8;
    position: relative;

    background-image: linear-gradient(35deg, rgba(100, 155, 200, .1), rgba(0,0,0,0),  white);
}

#icon_music{
    grid-row: 2/3;
    grid-column: 2 /8;

    position: relative;
    top: 250px;
    left: 460px;

    width: 20%;
}

#hand{
    z-index: 2;
    grid-row: 2/3;
    grid-column: 8/13;
    width: 80%;
    position: relative;
    top: -10px;
}
#handShadow{
    z-index: 1;
    grid-row: 2/3;
    grid-column: 8/13;
    width: 95%;
    position: relative;
    top: -15px;
    left: -20px;

    filter:blur(12px)
}

.code{
    grid-row: 3/4;
    grid-column: 7/13;
    z-index: 1;

    position: relative;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, .5), white 50%, rgba(255, 250, 100, .1) );

}

#icon_education{
    z-index: 1;
    grid-row: 3/4;
    grid-column: 1/7;
    width: 30%;

    opacity: .9;

    position: relative;
    top: 255px;
    left: -55px;
}
#icon_education_shadow{
    z-index: -2;
    grid-row: 3/4;
    grid-column: 1/7;
    width: 50%;

    filter: blur(2px);

    position: relative;
    top: 240px;
    left: -105px;

}

#man{
    z-index: 2;
    grid-row: 3/4;
    grid-column: 1/7;
    width: 100%;
    opacity: .97;

    position: relative;
    top: 50px;
    box-shadow: 0.4rem 0.4rem 5px rgba(0, 0, 0, .6), -0.4rem -0.4rem 5px rgba(200, 200, 200, .8);

}

.music{
    z-index: 2;
    grid-row: 4/5;
    grid-column: 1 /8;
    position: relative;
    left:20px;

    background-image: linear-gradient(150deg, white 1%, rgba(0,0,0,0) 15%, rgba(255, 210, 210,.15));

}


#violinist{
    grid-row: 4/5;
    grid-column: 7/13;
    width: 100%;
}


.friends{
    z-index: 3;
    grid-row: 5/6;
    grid-column: 6/13;
    position: relative;
    top: 150px;
    right: 30px;
    width: 90%;

    background-image: linear-gradient(-60deg, rgba(220, 255, 255, .2), white 85%);
}

#landscape {
    z-index: 2;
    grid-row: 5/6;
    grid-column: 1/6;
    width: 100%;

    box-shadow: -3px -4px 5px rgba(20, 78, 157, .3);
    border: 1px solid #aeaeae;

    position: relative;
    top: 20px;
    left: 50px;
}

#landscapeShadow {
    z-index: 1;
    grid-row: 5/6;
    grid-column: 1/6;
    width: 100%;

    position: relative;
    top: -15px;
    left: 20px;

    filter: blur(4px);
}
.idea{
    position: relative;
    left: 30px;
    width: 85%;
    grid-row: 6/7;
    grid-column: 1/9;
    background-image: linear-gradient(35deg, rgba(230, 255, 200, .1) 45%, white 99%);
}

#flower{

    grid-row: 6/7;
    grid-column: 7/13;
    width: 100%;
}

/*#nav_top ul li a.current { text-decoration: none; }*/

/* the styles for the second horizontal navigation menu */
/*#nav_menu_3 ul {*/
/*    list-style: none;*/
/*}*/
/*#nav_menu_3 ul li {*/
/*    float: left;*/
/*}
/*    font-weight: bold;*/
/*    border-right: 2px solid white;*/
/*}*/
/*#nav_menu_3 ul li a.lastitem {*/
/*    border-right: none;*/
/*}*/
/*#nav_menu_3 ul li a.current { color: yellow; }*/

/* footer styling */
footer {
    grid-row: 3/4;
    grid-column: 1/2;
    border-top: 2px solid black;
    padding: .9375em 1.875% .9375em 1.875%;
    background: linear-gradient(135deg, lightskyblue 3%, #109aef,  lightskyblue 97%);
    opacity: .4;
}
footer p {
    font-size: 120%;
    text-align: center;
    letter-spacing: .1rem;
    color: white;
}
